.App {
	width: 100vw;
}

.App-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	min-height: var(--nav-height);
	color: var(--white);
	box-shadow: 0 0 4px var(--grey);
	position: sticky;
	top: 0;
}

.App-nav a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.App-nav img {
	height: 60px;
}

.App-main {
	min-height: 90vh;
	margin: 0 auto;
	padding: 10px;
}

button {
	border-radius: 4px;
	border-style: none;
	padding: 10px;
	margin: 3px;
	font-weight: bold;
	background-color: var(--secondary);
	color: var(--white);
	cursor: pointer;
}

button.red {
	background-color: var(--red);
}

button.blue {
	background-color: var(--blue);
}

/* temp */

img {
	max-height: 100px;
}

ol {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.question {
	display: flex;
	flex-direction: column;
	margin: 20px 5px;
}

.question * {
	margin-left: 5px;
	margin-right: 5px;
}
